.neon-ring {
  width: 600px;
  height: 600px;
  border: 10px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: neon-glow 5s ease-in-out infinite alternate;
  filter: blur(5px);
}

@keyframes neon-glow {
  0% {
    border-color: rgb(54, 54, 169);
    box-shadow: 0 0 10px rgb(54, 54, 233);
  }
  100% {
    border-color: #0ff;
    box-shadow:
      0 0 40px #0ff,
      0 0 20px #0ff,
      0 0 10px #0ff;
  }
}
